.item-container {
  border: 2px solid #e5e4e4;
  font-family: sans-serif;
  font-weight: bold;
  width: 90%;
  align-self: center;
  padding-left: 2%;
  cursor: pointer;
  margin: 1rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px 5px #ebebeb;
  &:focus {
    background-color: none;
  }

  .sneaker-link {
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: sans-serif;
    text-decoration: none;
  }

  .sneaker-list-item {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2.5%;
    padding-top: 3.5%;
    display: grid;
    grid-template-columns: 30% 70%;
    cursor: pointer;

    .sneaker-item-image {
      margin-top: 2%;
      height: 70%;
      width: 70%;
      cursor: pointer;
    }

    .sneaker-item-right-panel {
      padding-left: 5%;
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
      cursor: pointer;

      .sneaker-name {
        cursor: pointer;
        font-weight: bold;
      }

      .bottom-details {
        margin-top: 5%;
        cursor: pointer;

        .right-panel-price {
          background-color: #6baa79;
          font-weight: normal;
          color: white;
          border-radius: 2.5px;
          padding: 1%;
          cursor: pointer;
          font-size: 0.8rem;
        }

        .right-panel-last-worn {
          background-color: #4096FF;
          font-weight: normal;
          color: white;
          border-radius: 2.5px;
          padding: 1%;
          cursor: pointer;
          font-size: 0.8rem;
          margin-left: 2%;
        }
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}